@media screen and (min-width: 1200px){

    /*----------------------------------ABOUT */
    #about{
        justify-content: space-evenly;
    }
    #about article{
        text-align: left;
    }
    main #about>div, main #about article{ 
        width: 25%;
    }
    #about>div:nth-child(2){
        padding-left: 30px;
    }
    /* --------------------------------PORTFOLIO */
    #portfolio .container{
        width: 25%;
    }
    #portfolio .hiddenMobile{
        display: initial;
    }
    #portfolio .hidden{
        display: none;
    }
    /* ------------------------------TESTIMONIALS */
    #testimonials img, #testimonials div{
        float: left;
        text-align: left;
        margin: 20px;
    }
    #testimonials div:nth-child(2) img, #testimonials div:nth-child(2){
        text-align: right;
        float: right;
    }
}