@media screen and (min-width: 1400px){

    /* ABOUT */
    #about{
        justify-content: space-evenly;
    }
    #about article{
        text-align: left;
    }
    main #about>div, main #about article{ 
        width: 25%;
    }

  
    #about #accordion i{
        float: none;
    }

    /* PORTFOLIO */
    #portfolio .container{
        width: 25%;
    }
    #portfolio .hidden{
        display: initial;
    }
    /* TESTIMONIALS */
    #testimonials img, #testimonials div{
        float: left;
        text-align: left;
        margin: 20px;
       
    }
    #testimonials div:nth-child(2) img, #testimonials div:nth-child(2){
        text-align: right;
        float: right;
    }

}