@media screen and (min-width: 800px){
    #wrapper{
        max-width: 1400px;
        margin: auto;
    }
    /* ---------------------HEADER */
    #wrapper header{
        justify-content: space-around;
    }
    /* ----------------------NAV */
    header img{
        height: 50px;
    }
    header nav{
        display: flex;
    }
    header nav a{
        margin-right: 25px;
        margin-left: 0
    }
    header nav a:hover{
        color: var(--color-o);
    }
    #burger{
        display: none;
    }
    /* -----------------------------ABOUT */
    #about{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        flex-direction: initial;
    }
     #about article{
        width: 100%;
    }
    #about #accordion{
        width: 45%;
    }
    /* -----------------------PORTFOLIO */
    .container{
        width: 50%;
    }
    #portfolio nav{
        margin-top: 15px;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
    #portfolio nav .button{
        margin: 0;
    }
    /* -----------------------CONTACT */
    #contact form{
        display: flex;
    }
    #contact form>div{
        flex: 1;
        padding: 0 1em;
    }
    /* -----------------------PAGES */
    #page{
        flex-direction: initial;
        justify-content: space-evenly;
        text-align: left; 
    }
    #page hr{
        margin-left: 0;
    }
    #page>div{
        width: 30%;
    }
    #page input[type=email]{
        margin: initial;
    }
    #page input[type=submit]{
        margin: 16px 0;
    }

    /* ------------------------------FOOTER */
    footer{
        flex-direction: initial;
        justify-content: space-around;
    }
    footer p{
        margin: 0;
    }
}